
header {
   position: fixed;
   font-family: 'Open Sans', sans-serif;

   font-family: 'Fredericka the Great', cursive;
   font-family: 'Love Ya Like A Sister', cursive;
   font-family: 'Special Elite', cursive;
   top: 0px;
   background-color: #fff;
   width: 100%;
   height: auto;
   display: block;
   height: 3.25em;

}

.caption {
   font-family: 'Love Ya Like A Sister', cursive;
   font-family: 'Fredericka the Great', cursive;
   font-weight: normal;
   font-size: 48px;
}

body, html {
   margin:0;
   padding:0;
   height: 100%;
   width: 100%;
}

body {
   align-self: center;
   text-align: center;
}

html {
   width: 100%;
}

body > .wrapper {
   min-height:100%;
   text-align: center;
   width: 100%;
   max-width: 1280px;
   margin: auto;
   margin-bottom: -6.5em;
   padding-bottom: 6.5em;
   padding-top: 3.25em;
}

body > .wrapper > .content {
   overflow: auto;
}

body {
   font-family: 'Open Sans', sans-serif;
}

a {
   color: #000;
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

table {
   margin-left: auto;
   margin-right: auto;
   table-layout: fixed;
   width:100%;
}

.white-text {
   color: #fff;
}

.content {
   text-align: center;
}



.content > .spacer.em1 {
   height: 1em;
}
.content > .spacer.em2 {
   height: 2em;
}

.container {
   display: inline-block;
   width: 800px;
   text-align: left;
}

.container-separator {
   display: inline-block;
   border-bottom: 1px solid #eee;
   width: 800px;
   height: 1px;
}
